.layout {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 16px; */
  justify-content: center;
}

/* .mobSideBar {
  display: none;
}

@media (max-width: 1000px) {
  .webView {
    display: none;
  }
  .mobSideBar {
    display: inline;
    border: 2px solid red;
  }
} */
