.layout {
  display: flex;
  flex-direction: row-reverse;
  /* gap: 16px; */
  justify-content: center;
}

/* .mobSideBar {
  display: none;
}

*/
@media (max-width: 1250px) {
 .layout {
  justify-content: space-between;
}
}
