.layout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* border: 2px solid red; */
}
/* .toggleBar {
  display: flex;
  flex-direction: column;
}
.toggleBar .toggleLine {
  width: 12px;
  height: 1px;
  margin-bottom: 2px;
  background-color: black;
}
.mobViewShow{
  display: none;
} */

/* @media (max-width: 950px) {
  .layout {
    justify-content: space-between;
    
  }
  .webView{
    display: none;
  }

  .mobViewShow{
    display: inline-block;
    
  }
} */
