.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 23.44rem;
  height: 4.81rem;
  transform: rotate(0deg);
  opacity: 1;
  gap: 0.25rem;
}

.form-label {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0;
}

.form-label span {
  color: var(--color-danger);
}

.required {
  color: var(--color-danger);
  margin-left: 4px;
}

.form-input {
  width: 100%;
  max-width: 23.44rem;
  height: 3.38rem;
  gap: 0.5rem;
  opacity: 1;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: var(--color-secondary);
  padding: 1rem;
  transform: rotate(0deg);
}

.form-input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input-error {
  border-color: var(--color-danger);
}

.error-text {
  font-size: 0.8rem;
  color: var(--color-danger);
  margin-top: 0.2rem;
}

@media (max-width: 900px) and (min-width: 768px) {
  .form-input {
    padding: 0.7rem;
    width: 21rem;
  }
}
@media (max-width: 400px) {
  .form-input {
    padding: 0.7rem;
    width: 17rem;
  }
  .form-group {
    width: 17rem;
    height: 4.88rem;
    gap: 0.25rem;
  }
}
