* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root {
  --color-primary: #4d007d;
  --color-secondary: #E5E5E5;
  --color-dark-gray: #A4A4A4;
  --color-success: green;
  --color-danger: red;
  --color-warning: yellow;
  --color-dark: black;
  --color-white: white;

  --font-family: 'Nunito', sans-serif;
  --transition: 0.2s ease-in-out;
}

body {
  font-family: var(--font-family);
  /* padding: 2rem; */
}

@media (max-width: 900px){
  body {
  padding: 0.2rem;
}
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
